/**
 GLOBAL CSS GOES HERE 

 Use this file for selector reference (Classes/Id's)

 For example, when creating a button, set the button's class/id to what is specified in this file
    so that it will inherit the global style

 If we reference each colour in HTML as a class (example: ".mainColour" and then define the classes in CSS,
 we'll be able to instantly change the colours of our website.

 For Selector Reference: https://www.w3schools.com/cssref/css_selectors.asp
    
    Classes are selected with a period. For example:

        .red_button {
            color: red;
        }

    ID's are selected with pound. For example:

        #red_button {
            color: red;
        }
**/

/* GLOBAL COLORS */
:root {
	--main-black: black;
	--main-ui-front: white;
	--sidenav-gray: #eff1f4;
	--light-gray: #f0f0f0;
	--main-red: #df3742;
	--calendar-red: #e66a6b;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.footer {
	background-color: var(--main-black);
	flex: none;
}

.content {
	flex: auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
	margin-bottom: 10%;
}

.footer {
	flex: 0 auto;
	display: flex;
}

.flex {
	flex: auto;
	display: flex;
}

.rounded {
	border-radius: 1em;
}

.shadow-small {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
}

.shadow-medium {
	box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.21);
}

.shadow-strong {
	box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.51);
}

h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-weight: lighter;
	font-size: 3em;
	margin: 0;
}

h2 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-weight: lighter;
	margin: 0;
}

.text {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-weight: lighter;
	margin: 0;
}

a {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-weight: lighter;
}

/* Apply this class to any red button */
.redButton {
	background-color: #df3742;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-weight: 600;
	width: 17%;
	margin: 0 auto;
	padding: 4px;
	border-radius: 12px;
	margin-top: 4%;
}

/* Apply this class to any search bar */
