/**
 GLOBAL CSS GOES HERE 

 Use this file for selector reference (Classes/Id's)

 For example, when creating a button, set the button's class/id to what is specified in this file
    so that it will inherit the global style

 For Selector Reference: https://www.w3schools.com/cssref/css_selectors.asp
    
    Classes are selected with a period. For example:

        .red_button {
            color: red;
        }

    ID's are selected with pound. For example:

        #red_button {
            color: red;
        }
**/

/* GLOBAL COLORS */
* {
    --main-black: black;
    --main-ui-front: white;
    --sidenav-gray: EFF1F4;
    --light-gray: F0F0F0;
    --main-red: DF3742;

    --calendar-red: E66A6B;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 auto;
    display: flex;
}

.content {
    flex: auto;
    display: flex;
}

.footer {
    flex: 0 auto;
    display: flex;
}
