.content {
	flex-direction: row;
}

.content > .left {
	margin: 0;
	background-color: var(--sidenav-gray);

	flex-direction: column;
	flex-grow: 0;
	padding: 3em;
	justify-content: center;
}

.content > .left > .calendar-section,
.content > .left > .profile-section {
	background-color: white;
	flex: none;
	margin-bottom: 1.5em;
}

.content > .left > .calendar-section {
	width: 20em;
	height: 20em;
	flex-direction: column;
	overflow: hidden;
}

.content > .left > .calendar-section > .top {
	background-color: var(--calendar-red);
}

.content > .left > .profile-section {
	width: 20em;
	height: 20em;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
}

.content > .left > .profile-section > #profile-image {
	margin: auto;
}

.content > .middle {
	flex-direction: column;
	flex-grow: 2;
	padding: 3em 0 3em 3em;
}

.timetable-section {
	/* CREDIT: https://unsplash.com/photos/FoKO4DpXamQ */
	background-image: url("../media/home/bg_student_timetable.jpg");
}

.progress-section {
	/* CREDIT: https://unsplash.com/photos/F8t2VGnI47I */
	background-image: url("../media/home/bg_academic_progress.jpg");
}

.amountToPay-section {
	/* CREDIT: https://unsplash.com/photos/3-Tc_5LROrM */
	background-image: url("../media/home/bg_amount_to_pay.jpg");
}

.section .button {
	flex: 0 1 auto;
	align-self: flex-end;
	text-align: center;
	margin: 0 auto 3em auto;

	background-color: white;
	padding: .5em 1.5em .5em 1.5em;
	border-radius: 5em;
}

.section .button h1 {
	font-size: 2em;
}

.section:first-child {
	margin-top: 0;
}

.section:last-child {
	margin-bottom: 0;
}

.section {
	object-fit: cover;
	background-size: 100%;
	object-position: 50%;
	/* opacity: .5; */
	cursor: pointer;
	margin: 10px;
	background-color: var(--main-ui-front);
}

.content > .middle > .section:hover {
	
}

.content > .right {
	flex-grow: 0;
	padding: 3em;
	width: 20em;
}

.content > .right > .news {
	flex-direction: column;
	overflow: hidden;

	padding: 0.7em;
}


.news-list {
	flex-direction: column;
	padding: 0;
	overflow: auto;
}

.news-item {
	flex: 0 0 auto;

	display: flex;
	flex-direction: row;

	margin-bottom: 2em;
	word-break: break-word;
	cursor: pointer;
}

.news-item * {
	flex: auto;
}

.news-item img {
	flex: 0;
	border-radius: 10em;
	min-width: 6em;
	height: 6em;
	margin-right: 1em;
	background-color: lightgray;
	object-fit: cover;
}

.news-item .article-name {
	flex-grow: 1;
	margin: auto;
}